<p id="notice"><%= notice %></p>

<h1>Breweries</h1>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>State</th>
      <th>Country</th>
    </tr>
  </thead>

  <tbody>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.address %></td>
        <td><%= brewery.city %></td>
        <td><%= brewery.state %></td>
        <td><%= brewery.state %></td>
        <td><%= brewery.country %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @breweries %>

<%= page_entries_info @breweries %>


