<p id="notice"><%= notice %></p>

<h1>Beers</h1>


<p>
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Style</th>
      <th>Abv</th>
      <th>Brewery</th>
      <th>Brewery Address</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= beer.description %></td>
        <td><%= link_to beer.style.name, beer.style %></td>
        <td><%= beer.abv %></td>
        <td> <%= link_to beer.brewery.name, beer.brewery %></td>
        <td><%= beer.brewery.address %></td>
        <td><%= beer.brewery.city %></td>
        <td><%= beer.brewery.state %></td>
        <td><%= beer.brewery.country %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @beers %>

<%= page_entries_info @beers %>

<br>

