<p id="notice"><%= notice %></p>

<h1><%= image_tag('bottle.png', alt: 'bottle') %><%= @beer.name %></h1>
<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beer.description %>
</p>

<p>
  <strong>Style:</strong>
  <%= link_to @beer.style.name, @beer.style %>
</p>

<p>
  <strong>Abv:</strong>
  <%= @beer.abv %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= link_to @beer.brewery.name, @beer.brewery %>
 (<%= @beer.brewery.address %>,
  <%= @beer.brewery.city %>,
  <%= @beer.brewery.state %>,
  <%= @beer.brewery.country %>)
</p>

<%= link_to 'Back', beers_path %>
